<ng-container [formGroup]="controlContainer.control"> 
    <div class="form__row">
        <label class="form__label">{{label}}</label>
        
        <div class="flex space-between">
        <select class="form__mobile-input dropdown-arrow" 
            aria-label="area code"
            name="area-code" 
            id="area-code"  
            formControlName="areaCode"
            >
            <option *ngFor="let code of codeList" value="{{code.dial_code}}">{{code.dial_code}} ({{code.code}})</option>
        </select>
        <div class="position-relative">
            <input class="form__mobile-input form__mobile-input--tel-no" 
            aria-label="mobile number"
            [ngClass]="{'form__mobile-input--invalid': (submitted && form.mobile.controls.tel.errors)}"
            type="tel" 
            id="tel" 
            name="tel"
            placeholder="mobile" 
            appPhoneMask
            formControlName="tel" 
            >
            <div class="form__text-invalid" *ngIf="submitted && form.mobile.controls.tel.errors">
            {{invalidMessage}}
            </div>
        </div>
            
        </div>
    </div>
</ng-container>
