@import "../../../styles/sass-functions.scss";
@import "../../../styles/form-global-styles.scss";

.form__mobile-input{
    font-size: 1rem;
    padding: 12px 12px 12px 15px;
    border: none;
    border-bottom: 2px solid var(--lt-gray);
    position: relative;
    transition: border-bottom .25s ease-in-out;

    &--tel-no{
        flex-grow: 1;
        margin-left: 19px;
        @media (max-width: 500px){
            width: 127px;
        }
    }
    
    &--invalid{
        color: var(--red);
        border-bottom: 2px solid var(--red) !important;
    }

    &:focus, &:hover{
        transition: border-bottom .25s ease-in-out;
        border-bottom: 2px solid var(--secondary-color);
        outline: none;
    }
}