<div class="container">
  <header>
    <h1 class="title">
      Your account
    </h1>
  </header>
  <main class="form__container">
    <aside class="form__left-box">
      <img class="form__left-box-image" src="../assets/img/line-group.png" alt="lines">
    </aside>
    <section class="form__right-box">

      <form [formGroup]="test1" (ngSubmit)="onSubmitTest1()" *ngIf="sectionListStatus[0].active">
        <h2 class="form__title">First form element. Continue to proceed to section "personal" .</h2>
        <app-text-input 
          label="Type anything" 
          placeholder="anything"
          invalidMessage="invalid" 
          [submitted]="submittedTest1"
          [form]="test1Controls"
          formControlName="anything" 
          ngDefaultControl
        ></app-text-input>
        <button class="form__continue-button">
          {{buttonText}}
        </button>
      </form>

      <form [formGroup]="personal" (ngSubmit)="onSubmitPersonal()" *ngIf="sectionListStatus[1].active">
      
      <h2 class="form__title">Provide personal information so that we can create a new account for you.</h2>
        
        <app-text-input 
          label="Your name"
          placeholder="name"
          invalidMessage="Name invalid" 
          [submitted]="submittedPersonal"
          [form]="personalControls"
          formControlName="name" 
          ngDefaultControl
        ></app-text-input>

        <app-mobile-input
          label="Mobile" 
          invalidMessage="Tel number invalid" 
          [submitted]="submittedPersonal"
          [form]="personalControls"
          formGroupName="mobile" 
        ></app-mobile-input>

        <app-radio-input
          label="Can you play chess?"
          formControlName="chess"
          ngDefaultControl
        ></app-radio-input>
          
        <app-age-input
          label="Date of birth"
          [submitted]="submittedPersonal"
          [form]="personalControls"
          formGroupName="age" 
        >
        </app-age-input>

        
        <button class="form__continue-button">
          {{buttonText}}
        </button>
      </form>

      <form [formGroup]="test2" (ngSubmit)="onSubmitTest2()" *ngIf="sectionListStatus[2].active">
        <h2 class="form__title">Congratulation, you have fulfilled personal section! Press Submit to see received data in console.</h2>

        <app-text-input 
          label="Also type anything" 
          placeholder="something"
          invalidMessage="Invalid" 
          [submitted]="submittedTest2"
          [form]="test2Controls"
          formControlName="something" 
          ngDefaultControl
        ></app-text-input>
        <button class="form__continue-button">
          {{buttonText}}
        </button>
      </form>

      <h2 class="form__title" *ngIf="showSummaryText">
        Form has been filled succesfully. You can check results in browser's console.
      </h2>

      <app-sections-info-aside [sectionListStatus]="sectionListStatus"></app-sections-info-aside>
                
    </section>
  </main>
</div>
