@import "../sass-functions.scss";

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    margin: 3.5rem 0 3rem 0;
    font-weight: 300;
    color: #fff;
    font-size: 3rem;
    display: inline-block;
    transform: translateX(40%);
    @media (max-width: 992px){
        transform: none;
    }
    @media (max-width: 500px){
        margin: 1.5rem 0 1.75rem 0;
        font-size: rem-calc(36);
    }
}
.form{
    &__container{
        width: 728px;
        height: 552px;
        background-color: white;
        display: flex;
        margin-bottom: 5rem;
        @media (max-width: 992px) and (min-width: 501px){
            width: 472px;
        }
        @media (max-width: 500px){
            height: 500px;
            width: 292px;
        }
    }
    &__left-box{
        min-width: 35%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../assets/img/left-box-background.png');
        background-size: cover;
        position: relative;
        @media (max-width: 992px){
            display: none;
          }
    }
    &__left-box-image{
        width: 95%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__right-box{
        padding: 42px 50px 62px 50px;
        width: 65%;
        position: relative;
        &:before{
            content:"";
            height: 2px;
            width: 70px;
            background-color: var(--green);
            position: absolute;
            top:-1px;
            left: 50px;
            @media (max-width: 500px){
                top:-2px;
                left: 15px;
            }
        }
        @media (max-width: 992px) and (min-width: 501px){
            width: 100%;
        }
        @media (max-width: 500px){
            padding: 15px 15px 62px 15px;
            width: 100%;
        }
        
    }
    &__aside-nav-container{
        position: absolute;
        top: 66px;
        right: -1px;
        transform: translateX(100%);
        color: white;
        font-size: rem-calc(11);
        @media (max-width: 992px){
            display: none;
        }
    }
    &__aside-nav{
        cursor: pointer;
        margin-top: 42px;
        &:hover, &:focus{
            & > .form__aside-nav-line{
                background-color: var(--green);
            }
        }
    }
    &__aside-nav-line{
        width: 25px;
        height: 2px;
        background-color: var(--dk-gray);
        &--active{
            background-color: var(--green);
        }
    }
    &__aside-nav-content{
        margin: 8px 0 0 8px;
    }

    &__title{
        font-size: rem-calc(14);
        line-height: 24px;
        display: flex;
        align-items: center;
        font-weight: 400;
        letter-spacing: 0.2579779px;
        color: #202020;
        max-width: 300px;
        margin: 0 0 50px 0;
        @media (max-width: 500px){
            margin: 0 0 30px 0;
        }
    }
    &__row{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 24px;
        position: relative;
    }
    &__input-label{
        font-size: rem-calc(11);
        margin-left: 1rem;
    }
    &__text-input{
        font-size: 1rem;
        padding: 12px 12px 12px 15px;
        border: none;
        border-bottom: 2px solid var(--lt-gray);
        position: relative;
        transition: border-bottom .25s ease-in-out;
        
        &--mobile{
            flex-grow: 1;
            margin-left: 19px;
            @media (max-width: 500px){
                width: 127px;
            }
        }
        &--invalid{
            color: var(--red);
            border-bottom: 2px solid var(--red) !important;
            & + .form__text-invalid{
                display: block;
            }
        }

        &:focus, &:hover{
            transition: border-bottom .25s ease-in-out;
            border-bottom: 2px solid var(--secondary-color);
            outline: none;
        }
    }
    &__text-invalid{
        color: var(--red);
        font-size: rem-calc(11);
        position: absolute;
        left: 1rem;
        bottom: -4px;
        transform: translateY(100%);
        display: none;
    }
    &__radio-label{
        width: 46px;
        height: 46px;
        padding-right: 7px;
        border: 2px solid var(--lt-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 25px 0 0;
        position: relative;
        cursor: pointer;
        transition: border-color .25s ease-in-out;
        &:after{
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            transition: border-color .25s ease-in-out;
            border: 2px solid var(--lt-gray);
            background-color: #fff;
            left: calc(100% - 5px);
        }
        &:before{
            content: '';
            z-index: 1;
            position: absolute;
            width: 3px;
            height: 3px;
            background-color: var(--green);
            left: calc(100% - 1px);
            transition: opacity .25s ease-in-out;
            opacity: 0;
        }
        &:hover{
            outline: none;
            border-color: var(--green);
            transition: border-color .25s ease-in-out;
            &:after{
                transition: border-color .25s ease-in-out;
                border-color: var(--green);
            }
            &:before{
                transition: opacity .25s ease-in-out;
                opacity: 1;
            }
        }
    }
    &__radio-input{
            position: absolute;
            margin-top: 20px;
            opacity: 0;
            z-index: -10;
        &:checked + .form__radio-label, &:focus + .form__radio-label{
            border-color: var(--green);
            &:after{
                border-color: var(--green);
            }
            &:before{
                opacity: 1;
            }
        }
    }
    &__date-container{
        display: flex;
        padding-top: 14px;
        align-items: center;
        justify-content: space-between;
    }
    &__date-input{
        border: 2px solid var(--lt-gray);
        padding: 15px;
        height: 52px;
        font-size: 1rem;
        width: 135px;
        outline: none;
        transition: border-color 0.25s ease-in-out;
        @media (max-width: 500px){
            width: 114px;
        }
        &:focus, &:hover {
            border-color: var(--green);
            transition: border-color 0.25s ease-in-out;
        }
        &--day{
            text-align: center;
            padding: 15px 5px;
            width: 52px;
        }
        &--month{
            text-align: center;
            @media (max-width: 500px){
                width: 52px;
                padding: 12px;
            }
        }
        &--invalid{
            color: var(--red);
            border: 2px solid var(--red) !important;
            ::-webkit-input-placeholder, ::-moz-placeholder, ::placeholder {
                color: var(--red) !important;
                opacity: 1;
            }
        }
    }
    &__date-invalid{
        font-size: rem-calc(11);
        position: absolute;
        left: 0;
        bottom: -4px;
        transform: translateY(100%);
        color: var(--red);
    }
    &__date-separator{
        min-width: 10px;
        height: 2px;
        background-color: var(--lt-gray);
        margin: 0 6px;
    }
    &__continue-button{
        position: absolute;
        bottom: 0;
        right: -1px;
        transform: translateY(50%);
        font-size: 12px;
        background: linear-gradient(90deg, var(--primary-color) -0.42%, var(--secondary-color) 100.42%);
        box-shadow: 0px 20px 25px rgba(32, 31, 54, 0.15);
        color: white;
        width: 187px;
        height: 51px;
        border: 0;
        z-index: 10;
        cursor: pointer;
        transition: outline 0.25s ease-in-out;
        &:focus, &:hover{
            transition: outline 0.25s ease-in-out;
            outline: 2px solid var(--green);
            &:after{
                transition: outline 0.25s ease-in-out;
                outline: 2px solid var(--green);
            }
        }
        &:after{
            content: '⟶';
            line-height: 51px;
            font-size: 15px;
            transform: translateX(100%);
            position: absolute;
            top: 0;
            right: 1px;
            width: 51px;
            height: 51px;
            background: #7841F4;
            box-shadow: 0px 23px 24px rgba(13, 13, 31, 0.08);
            transition: outline 0.25s ease-in-out;
        }
        @media (max-width: 992px){
            right: calc(50% + 25px);
            transform: translate(50%, 50%);
        }
    }
}