*, ::after, ::before {
    box-sizing: border-box;
}

body{
    background: #242424;
    position: relative;
    margin: 0;
    background-image: url('assets/img/gredient.svg');
    background-repeat: no-repeat;
    @media (max-width: 992px){
        background-position: 0% -80px;
    }
}

body, input, select {
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding-inline-start: 0 !important;
    list-style-type: none;
}

select{
    cursor: pointer;
}

:root {
    --primary-color: #8658EB;
    --secondary-color: #652AE6;
    --lt-gray: #DADAED; 
    --dk-gray: #59595A;
    --green: #1BFEC0;
    --red: #EB5757;
}

.flex{
    display: flex;
}
.block{
    display: block !important;
}
.none{
    display: none !important;
}
.space-between{
    justify-content: space-between;
}

.position-relative{
    position: relative;
}

.align-end{
    align-items: flex-end;
}
.flex-grow {
    flex-grow: 1;
}

.hidden{
    visibility: hidden;
}

.dropdown-arrow{
    background-image: url('assets/img/dropdown_arrow.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select {
    appearance: none;
}